{% extends "base.html" %}
{% block content %}
<h1>Instruments</h1>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Type</th>
                <th>Fond ID</th>
            </tr>
        </thead>
        <tbody>
            {% for instrument in instruments %}
            <tr>
                <td>{{ instrument.name }}</td>
                <td>{{ instrument.type }}</td>
                <td>{{ instrument.fond_id }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
