{% extends "base.html" %}
{% block content %}
<h1>Positions</h1>
<div class="card mb-4 shadow-sm">
    <div class="card-body">
        <h5 class="card-title">Total Weight: {{ total_poids }}</h5>
        {% if total_poids == 100 %}
        <div class="alert alert-success" role="alert">
            <span class="emoji">&#x1F44D;</span> Le poids total est exactement 100. Validé!
        </div>
        {% else %}
        <div class="alert alert-danger" role="alert">
            <span class="emoji">&#x26A0;</span> Le poids total est {{ total_poids }}. Non validé!
        </div>
        {% endif %}
    </div>
</div>
<div class="row">
    {% for position in positions %}
    <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
            <div class="card-body">
                <h5 class="card-title">{{ position.instrument.name }}</h5>
                <p class="card-text">Weight: {{ position.poids }}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
